* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.links {
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    margin-left: 36px;
    text-decoration: none;
    color: #17233d;
}

#bt {
    width: 100px;
    height: 50px;
    margin-left: 36px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

#bt:hover{
    opacity: 0.5;
}

#bt:active{
    opacity: 0.8;
}

#caixa {
    margin-top: 48px;
    margin-bottom: 165px;
}

#imagem {
    width: 600px;
    height: 500px;
    margin-left: 100px;
    display: inline-block;
}

main {
    display: inline-block;
    margin-left: 53px;
    margin-bottom: 89px;
}

#titulo {
    width: 582px;
    height: 164px;
    font-size: 65px;
    font-weight: 900;
    line-height: 82px;
    color: #161A49;
    margin-bottom: 50px;
}

#paragrafo {
    width: 450px;
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-bottom: 55px;
}

#segundo-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    text-decoration: none;
    margin-bottom: 78px;
}


@media screen and (max-width:700px) {
    .links {
        display: none;
    }

    #bt {
        margin-left: 510px;
        margin-top: -19px;
        margin-right: 15px;
        
    }


    #bt:active{
        opacity: 0.8;
    }

    #imagem {
        position: absolute;
        margin-top: 390px;
        margin-left: 39px;
        margin-right: 39px;
        padding: 40px;
        
    }

    #titulo {
        font-size: 50px;
        text-align: center;
        width: 500px;
        height: 60px;
        line-height: 50px;
        margin-left: 30px;
        margin-bottom: 29px;
        
        
    }

    #paragrafo {
        width: 450px;
        height: 165px;
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        margin-top: 90px;
        margin-left: 60px;
        margin-bottom: 29px;
    }

    #segundo-link{
        font-size: 25px;
        margin-left:220px;
        margin-bottom: 76px;
    }
   
   
}